.searchBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
}
.wrapper > input{
    width: 200px;
    border-radius: 5px;
    height: 48px;
    font-size: 25px;
   
}
.wrapper > input::placeholder {
    font-size: 22px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}