.searchBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
}
.searchBox > input{
    width: 100%;
    border-radius: 5px;
    height: 48px;
    font-size: 25px;
}
.searchBox > input::placeholder {
    font-size: 22px;
}